.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    cursor: wait;
}

.introduction p {
    display: flex;
    align-items: center;
    color: white;
    font-size: 42px;
    position: absolute;
    z-index: 1;
}

.introduction p span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
}

.introduction svg path {
    fill: #141516;
}
