@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@custom-variant 3xl (@media (min-width: 1600px));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.51 0.23 277);
    --primary-foreground: oklch(0.96 0.02 272);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.79 0.1 275);
    --chart-2: oklch(0.68 0.16 277);
    --chart-3: oklch(0.59 0.2 277);
    --chart-4: oklch(0.51 0.23 277);
    --chart-5: oklch(0.46 0.21 277);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.51 0.23 277);
    --sidebar-primary-foreground: oklch(0.96 0.02 272);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.59 0.2 277);
    --primary-foreground: oklch(0.96 0.02 272);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.79 0.1 275);
    --chart-2: oklch(0.68 0.16 277);
    --chart-3: oklch(0.59 0.2 277);
    --chart-4: oklch(0.51 0.23 277);
    --chart-5: oklch(0.46 0.21 277);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.68 0.16 277);
    --sidebar-primary-foreground: oklch(0.96 0.02 272);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --color-stone-0: var(--color-neutral-950);
    --color-stone-50: var(--color-neutral-900);
    --color-stone-100: var(--color-neutral-800);
    --color-stone-200: var(--color-neutral-700);
    --color-stone-300: var(--color-neutral-600);
    --color-stone-400: var(--color-neutral-500);
    --color-stone-500: var(--color-neutral-400);
    --color-stone-600: var(--color-neutral-300);
    --color-stone-700: var(--color-neutral-200);
    --color-stone-800: var(--color-neutral-100);
    --color-stone-900: var(--color-neutral-50);
    --color-stone-950: var(--color-white);
    --color-brand-400: var(--color-indigo-200);
    --color-brand-500: var(--color-indigo-300);
    --color-brand-600: var(--color-indigo-400);
    --color-rose-50: rgba(255, 32, 86, 0.2);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@utility container-wrapper {
    @apply 3xl:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2;
}

@utility container {
    @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

html,
body {
    font-family: var(--font-geist-sans);
    transition: background-color var(--transition-duration) ease;
}

/* JetBrains Mono */
.jetbrains-mono {
    font-family: var(--font-jetbrains-mono);
}

/* Geist Mono */
.geist-mono {
    font-family: var(--font-geist-mono);
}

/* Geist Sans */
.geist-sans {
    font-family: var(--font-geist-sans);
}

/* Instrument Serif */
.instrument-serif {
    font-family: var(--font-instrument-serif);
}

/* Instrument Sans */
.instrument-sans {
    font-family: var(--font-instrument-sans);
}

/* Urbanist */
.urbanist {
    font-family: var(--font-urbanist);
}

/* Bricolage Grotesque */
.bricolage-grotesque {
    font-family: var(--font-bricolage-grotesque);
}

/* Cooper LT BT */
.cooper {
    font-family: var(--font-cooper-lt-bt);
}

img,
button {
    user-select: none;
}

.h-screen {
    height: 100dvh;
}

.button-highlighted-shadow {
    @apply shadow-[inset_0px_1.5px_0px_rgba(255,255,255,0.15)];
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

::selection {
    @apply bg-primary/80 text-primary-foreground;
}

.dash-page {
    @apply flex w-full flex-col;
}

.dash-layout-page-content-height {
    @apply h-[calc(100svh-50px)] md:h-[calc(100svh-48px-18px)];
}

/* Hide scrollbar globally */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-bar-hidden {
    scrollbar-width: none;
}

.blog-hero-gradient {
    background: linear-gradient(
        165deg,
        #3a3a3a,
        #373737,
        #353535,
        #323232,
        #303030,
        #2d2d2d,
        #2a2a2a,
        #282828,
        #252525,
        #232323,
        #202020,
        #1e1e1e
    );
}

code,
pre {
    font-family: var(--font-jetbrains-mono) !important;
}

li::marker {
    @apply !text-secondary-foreground;
}

.text-fd-muted-foreground {
    font-family: var(--font-jetbrains-mono) !important;
    font-size: 13px !important;
    letter-spacing: -0.02em !important;
}

.text-fd-muted-foreground {
    @apply !text-secondary-foreground font-semibold;
}

.new-container {
    @apply mx-auto flex max-w-[1000px] flex-col border-x border-dashed;
}

.bg-dashed {
    background-image: linear-gradient(
        45deg,
        var(--border) 12.5%,
        transparent 12.5%,
        transparent 50%,
        var(--border) 50%,
        var(--border) 62.5%,
        transparent 62.5%,
        transparent 100%
    );
    background-size: 0.25rem 0.25rem;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}
